@charset "UTF-8";
/* ENCABEZADO. APLICA EN TODOS LOS HTML*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: hwb(0 0% 100%);
  color: white;
}
header .nav-logo img {
  height: 80px;
}
header nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  /* Centra el contenido horizontalmente */
}
header nav li {
  display: inline-block;
  /* Muestra los elementos de lista en línea */
  margin: 0px;
  /* Espaciado horizontal entre elementos de lista */
}
header nav a {
  font-weight: 600;
  padding-right: 10px;
  text-decoration: none;
  color: white;
}
header nav a:hover {
  color: gray;
}
header nav a:visited {
  background-color: rgba(255, 255, 255, 0.836);
}

/* Ajusta el ancho según tus necesidades */
input[type=search] {
  width: 140px;
}

/* UBICACION DEL LOGO, APLICA EN TODOS LOS HTML. HEADER*/
/* UBICACION DEL FORMULARIO, APLICA EN TODOS LOS HTML. HEADER*/
/* MARGEN DEL CONTAINER, APLICA EN TODOS LOS HTML */
.container {
  margin-left: 35px;
  margin-top: 35px;
}

.container-form {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: rgb(15, 27, 190);
}

/* footer. APLICA EN TODOS LOS HTML*/
.footer {
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template-areas: "inicio promociones destacado nosotros contacto";
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #c6cccc;
}
.footer .redes-sociales {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-right: 10px;
  /* APLICA EN TODOS LOS HTML */
}
.footer .redes-sociales a {
  margin-left: 10px;
  /* Opcional: Agrega margen izquierdo entre los íconos */
}
.footer .redes-sociales label {
  margin-right: 10px;
}
.footer .form-label {
  display: flex;
  padding: 5px;
  margin-right: 5px;
  font-weight: bolder;
}
.footer .form-control {
  width: 80%;
  margin-right: 5px;
}
.footer .email {
  display: inline-flex;
  text-align: center;
}

.form-text {
  margin-left: 7px;
}

@media screen and (max-width: 655px) {
  .footer {
    display: inline-block;
  }
}
.lupa {
  height: 20px;
  width: 20px;
}

/* CONTENEDOR IMG INDEX */
.containerImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* index */
  /* index */
  /* index */
  /* index */
  /* index */
  /* index */
}
.containerImg .banner, .containerImg .banner-3, .containerImg .banner-2, .containerImg .banner-1 {
  margin-top: 10px;
  padding: 10px;
  display: grid;
  grid-row: 1;
  width: 100%;
  height: 400px;
}
.containerImg .banner-1 {
  grid-column: 1;
}
.containerImg .banner-2 {
  grid-column: 2;
  height: 600px;
}
.containerImg .banner-3 {
  grid-column: 3;
}
.containerImg .titulo-banner1, .containerImg .titulo-banner3, .containerImg .titulo-banner2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  text-align: center;
}
/* promociones-destacado*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 20px;
  padding: 20px;
}
.grid-container .item-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}
.grid-container .grid-item {
  display: block;
  border: groove;
  color: #34495e;
}

.camisetas-p {
  width: 300px;
  height: 300px;
}

/*--------------MEDIA QUERIES--------------*/
@media screen and (max-width: 768px) {
  .grid-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
/* nosotros */
.quienes-somos {
  padding: 70px;
  background-color: #eaeded;
}

/* nosotros */
.mision-nosotros {
  padding: 70px;
  background-color: #d5dbdb;
}

/* nosotros */
.vision-nosotros {
  padding: 70px;
  background-color: #eaeded;
}

/* nosotros */
.nuestros-valores {
  padding: 70px;
  background-color: #d5dbdb;
}

/* contacto */
.contactame {
  padding: 70px;
  background-color: #eaeded;
}

/* contacto */
.asistencia {
  padding: 70px;
  background-color: #d5dbdb;
}

/* contacto */
.opciones {
  padding: 70px;
  background-color: #eaeded;
}

/* contacto */
.devol {
  padding: 70px;
  background-color: #d5dbdb;
}

/* contacto */
.politicas {
  padding: 70px;
  background-color: #eaeded;
}

/* *=TODO */
* {
  margin: 0px;
  padding: 0px;
}

/*# sourceMappingURL=style.css.map */
