/* nosotros */

.quienes-somos {
  padding: 70px;
  background-color: #eaeded;
}

/* nosotros */
.mision-nosotros {
  padding: 70px;
  background-color: #d5dbdb;
}

/* nosotros */
.vision-nosotros {
  padding: 70px;
  background-color: #eaeded;
}

/* nosotros */
.nuestros-valores {
  padding: 70px;
  background-color: #d5dbdb;
}

/* contacto */

.contactame {
  padding: 70px;
  background-color: #eaeded;
}
