/* contacto */

.asistencia {
  padding: 70px;
  background-color: #d5dbdb;
}

/* contacto */

.opciones {
  padding: 70px;
  background-color: #eaeded;
}

/* contacto */

.devol {
  padding: 70px;
  background-color: #d5dbdb;
}

/* contacto */

.politicas {
  padding: 70px;
  background-color: #eaeded;
}
